<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ficha do Candidato</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .margin-top {
            margin-top: 100px;
        }
    </style>
</head>
<body>

    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container margin-top">
        <h1 class="mb-4">Ficha do Candidato</h1>
        <div class="row">

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header bg-primary text-white">Dados do Aluno</div>
                    <div class="card-body">
                        <p><strong>Nome:</strong> <span th:text="${aluno.nomeCompleto}"></span></p>
                        <p><strong>Email:</strong> <span th:text="${aluno.email}"></span></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header bg-success text-white">Dados da Empresa</div>
                    <div class="card-body">
                        <p><strong>Nome:</strong> <span th:text="${empresa.nome}"></span></p>
                        <p><strong>CNPJ:</strong> <span th:text="${empresa.cnpj}"></span></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header bg-secondary text-white">Dados da Oferta de Estágio</div>
                    <div class="card-body">
                        <p><strong>Título:</strong> <span th:text="${ofertaEstagio.titulo}"></span></p>
                        <p><strong>Descrição:</strong> <span th:text="${ofertaEstagio.descricao}"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <a th:href="@{/coordenadores/candidatos}" class="btn btn-secondary">Voltar à Lista</a>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
