<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estágio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .margin-top {
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <div class="container margin-top">

        <h2>Estágio</h2>

        <div th:if="${estagio == null}">
            <p class="alert alert-warning">Você ainda não possui um estágio.</p>
            <a th:href="@{/alunos/menu}" class="btn btn-secondary">Voltar ao Menu</a>
        </div>

        <div th:if="${estagio != null}">
            <h1>
                <span th:text="${estagio.empresa.nome}">Nome da Empresa</span>
            </h3>
            <p><strong>Data de Início:</strong> <span th:text="${estagio.getDataInicioFormatada()}">Data Início</span></p>
            <p><strong>Data de Fim:</strong> <span th:text="${estagio.getDataFimFormatada()}">Data Fim</span></p>
            <p><strong>Valor da Bolsa:</strong> <span th:text="${estagio.valor}">Valor Bolsa</span></p>

        </div>

    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
</body>
</html>