<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Empresas</title>
</head>
<body>
<h1>Empresas Cadastradas</h1>

<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Pessoa de Contato</th>
        <th>Atividade Principal</th>
        <th>URL</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="empresa : ${empresas}">
        <td th:text="${empresa.nome}">Nome da Empresa</td>
        <td th:text="${empresa.cnpj}">CNPJ</td>
        <td th:text="${empresa.endereco}">Endereço</td>
        <td th:text="${empresa.telefoneContato}">Telefone</td>
        <td th:text="${empresa.email}">Email</td>
        <td th:text="${empresa.pessoaContato}">Pessoa de Contato</td>
        <td th:text="${empresa.atividadePrincipal}">Atividade Principal</td>
        <td th:text="${empresa.url}">URL</td>
    </tr>
    </tbody>
</table>

<a th:href="@{/empresas/cadastro}">Cadastrar Nova Empresa</a>
</body>
</html>
