<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas de Estágio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Ofertas de Estágio Cadastradas</h2>

        <div th:if="${mensagem}" class="alert alert-success">
            <p th:text="${mensagem}"></p>
        </div>

        <div th:if="${ofertas.isEmpty()}">
            <p class="alert alert-warning">Não há ofertas cadastradas.</p>
            <a th:href="@{/empresas/{id}/menu(id=${empresa.id})}" class="btn btn-secondary">Voltar ao Menu</a>
        </div>

        <div class="row" th:if="${!ofertas.isEmpty()}">
            <th:block th:each="oferta : ${ofertas}">
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" th:text="${oferta.titulo}">Título da Oferta</h4>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${oferta.empresa.nome}">Nome da Empresa</h6>
                            <h5 class="card-text" th:text="${oferta.atividadePrincipal}">Atividade Principal</h5>
                            <p class="card-text" th:text="${oferta.descricao}">Descrição da Oferta</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex align-items-center gap-1">
                                    <label>CH:</label>
                                    <span th:text="${oferta.ch}">Carga horária</span>
                                </li>
                                <li class="list-group-item d-flex align-items-center gap-1">
                                    <label>Bolsa:</label>
                                    <span th:text="${oferta.getFormatadoValorPago()}">Valor pago</span>
                                </li>
                                <li class="list-group-item d-flex align-items-center gap-1" th:if="${oferta.valeTransporte}">
                                    <label>Vale Transporte:</label>
                                    <span th:text="${oferta.getFormatadoValeTransporte()}">Vale Transporte</span>
                                </li>
                                <li class="list-group-item d-flex align-items-center gap-1">
                                    <label>Status da Oferta:</label>
                                    <span th:text="${oferta.getStatusName()}">Valor pago</span>
                                </li>
                                <li class="list-group-item d-flex align-items-center gap-1">
                                    <label>Pré Requisitos:</label>
                                    <span th:text="${oferta.preRequisitos}">Pré Requisitos</span>
                                </li>
                            </ul>

                            <div th:if="${!oferta.habilidadesNecessarias.isEmpty()}">
                                <h6>Habilidades Necessárias</h6>
                                <ul class="list-group mb-3">
                                    <li class="list-group-item" th:each="habilidade : ${oferta.habilidadesNecessarias}" th:text="${habilidade.description}"></li>
                                </ul>
                            </div>
                            <div th:if="${!oferta.habilidadesDesejaveis.isEmpty()}">
                                <h6>Habilidades Desejáveis</h6>
                                <ul class="list-group">
                                    <li class="list-group-item" th:each="habilidade : ${oferta.habilidadesDesejaveis}" th:text="${habilidade.description}"></li>
                                </ul>
                            </div>


                        </div>

                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:attr="data-bs-target='#cancelModal-' + ${oferta.id}">
                                Cancelar Oferta
                            </button>
                        </div>

                        <!-- Modal de Confirmação de Cancelamento -->
                        <div class="modal fade" th:id="'cancelModal-' + ${oferta.id}" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="cancelModalLabel">Confirmar Cancelamento</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Você tem certeza de que deseja cancelar esta oferta?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                                        <!-- O formulário precisa de uma URL dinâmica -->
                                        <form th:action="@{/ofertas/cancelar/{id}(id=${oferta.id})}" method="post">
                                            <button type="submit" class="btn btn-danger">Cancelar Oferta</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </th:block>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var cancelModals = document.querySelectorAll('.modal[id^="cancelModal-"]');

            cancelModals.forEach(function (modal) {
                modal.addEventListener('show.bs.modal', function (event) {
                    var button = event.relatedTarget;
                    var offerId = button.getAttribute('data-bs-target').split('-').pop(); // Extrai o ID da oferta do data-bs-target
                    var form = modal.querySelector('form');
                    var actionUrl = form.getAttribute('th:action').replace('{id}', offerId);
                    form.setAttribute('action', actionUrl);
                });
            });
        });
    </script>
</body>
</html>
