<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Estágios Jar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/alunos}">Login Alunos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/empresas}">Login Empresas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/coordenador}">Login Coordenador</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
